.logo-mark-frame-child {
  height: 416px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.home-companies-frame {
  height: 320px;
  width: 320px;
  position: absolute;
  margin: 0 !important;
  bottom: -24px;
  left: 592px;
  border-radius: 50%;
  background-color: var(--secondary-color-25);
  z-index: 1;
}
.logo-mark-frame {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  max-width: 100%;
}
.nav-inner {
  height: 100px;
  width: 1512px;
  position: relative;
  background-color: var(--color-gray-200);
  backdrop-filter: blur(20px);
  display: none;
  max-width: 100%;
}
.logo-mark-icon4 {
  height: 35px;
  width: 35px;
  position: relative;
}
.alumconnect-icon4 {
  height: 24.3px;
  width: 140.5px;
  position: relative;
}
.logo-combo2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  cursor: pointer;
  z-index: 1;
}
.home2 {
  height: 25px;
  font-weight: 600;
  display: inline-block;
}
.companies2,
.find-jobs3,
.home2 {
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.find-jobs3 {
  color: var(--border-active);
  white-space: nowrap;
}
.companies2 {
  font-weight: 600;
}
.home-companies {
  width: 289px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-12xl);
}
.log-in12 {
  position: relative;
  font-size: var(--header-6-size);
  font-family: var(--body-small);
  color: var(--primary-color-1);
  text-align: left;
  white-space: nowrap;
}
.sign-up4 {
  flex: 1;
  border-radius: var(--br-4xl);
  border: 2px solid var(--border-active);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xl) var(--padding-3xs)
    var(--padding-9xl);
}
.logsign-up2,
.nav2,
.sign-up4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logsign-up2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 114px;
  justify-content: center;
  z-index: 1;
}
.nav2 {
  align-self: stretch;
  background-color: var(--color-gray-200);
  backdrop-filter: blur(20px);
  justify-content: space-between;
  padding: var(--padding-8xl) var(--padding-32xl) var(--padding-9xl)
    var(--padding-26xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--header-6-size);
  color: var(--color-black);
  font-family: var(--body-small);
}
.discover-jobs-frame-child {
  height: 306px;
  width: 1360px;
  position: relative;
  background-color: var(--primary-color-25);
  display: none;
  max-width: 100%;
}
.span3 {
  color: var(--color-black);
}
.best-jobs-for {
  color: var(--primary-color-1);
}
.discover-the-best-container {
  margin: 0;
  height: 49px;
  width: 584px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 3;
}
.discover-jobs-frame,
.empty-frame {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.discover-jobs-frame {
  width: 1360px;
  background-color: var(--primary-color-25);
  flex-direction: row;
  padding: 129px var(--padding-61xl) 128px;
  box-sizing: border-box;
  z-index: 2;
}
.empty-frame {
  align-self: stretch;
  flex-direction: column;
  position: relative;
  gap: var(--gap-3xs);
}
.search-icon2 {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: contain;
  min-height: 30px;
}
.search-box2 {
  width: 336px;
  border: 0;
  outline: 0;
  background-color: var(--secondary-color-25);
  height: 30px;
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-32xl) var(--padding-7xs);
  box-sizing: border-box;
  font-family: var(--body-small);
  font-size: var(--body-small-size);
  color: var(--color-gray-100);
  max-width: 100%;
}
.search1 {
  height: 25px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.btn4,
.job-search-frame {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.btn4 {
  border-radius: var(--br-6xl);
  background-color: var(--background-color);
  box-shadow: 0 4px 15px 5px rgba(0, 102, 0, 0.12);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-8xl) var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  z-index: 3;
  margin-top: -42px;
  font-size: var(--header-6-size);
  color: var(--border-active);
  font-family: var(--body-small);
}
.job-search-frame {
  width: 1512px;
  flex-direction: column;
  text-align: left;
  font-size: var(--header-1-size);
  color: var(--background-color);
  font-family: var(--header-6);
}
.categories1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.security-child1 {
  width: 187px;
  height: 170px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--secondary-color-50);
  display: none;
}
.developer-icon1 {
  width: 62px;
  height: 62px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.development1 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.security4 {
  border-radius: var(--br-xl);
  background-color: var(--secondary-color-50);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-25xl) var(--padding-26xl) var(--padding-3xl)
    var(--padding-25xl);
  gap: var(--gap-3xl);
}
.developer-web-res-child {
  width: 187px;
  height: 170px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--primary-color-25);
  display: none;
}
.web-design-icon1 {
  width: 62px;
  height: 62px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.design1 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.developer-web-res,
.research-item {
  border-radius: var(--br-xl);
  background-color: var(--primary-color-25);
}
.developer-web-res {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-25xl) var(--padding-44xl) var(--padding-3xl)
    var(--padding-43xl);
  gap: var(--gap-3xl);
}
.research-item {
  width: 187px;
  height: 170px;
  position: relative;
  display: none;
}
.research-icon1 {
  width: 62px;
  height: 62px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.research3 {
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 600;
  font-family: var(--body-small);
  color: var(--color-black);
  text-align: center;
  z-index: 1;
}
.research2,
.security-child2 {
  width: 187px;
  border-radius: var(--br-xl);
  background-color: var(--primary-color-25);
}
.research2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-25xl) var(--padding-3xl) var(--padding-3xl);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-3xl);
}
.research2:hover {
  background-color: #a6bfa6;
}
.security-child2 {
  height: 170px;
  position: relative;
  display: none;
}
.cyber-security-icon1 {
  width: 62px;
  height: 62px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.security6 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.security-child3,
.security5 {
  border-radius: var(--br-xl);
  background-color: var(--primary-color-25);
}
.security5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-25xl) var(--padding-43xl) var(--padding-3xl)
    var(--padding-44xl);
  gap: var(--gap-3xl);
}
.security-child3 {
  width: 187px;
  height: 170px;
  position: relative;
  display: none;
}
.gaming-icon1,
.gaming1 {
  position: relative;
  z-index: 1;
}
.gaming-icon1 {
  width: 62px;
  height: 62px;
  object-fit: contain;
}
.gaming1 {
  font-weight: 600;
}
.security7 {
  border-radius: var(--br-xl);
  background-color: var(--primary-color-25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-25xl) var(--padding-43xl) var(--padding-3xl)
    var(--padding-44xl);
  gap: var(--gap-3xl);
}
.security-parent,
.securitydevelopercat {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  max-width: 100%;
}
.security-parent {
  width: 1135px;
  overflow-x: auto;
  flex-direction: row;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--body-small);
}
.securitydevelopercat {
  flex-direction: column;
}
.related-jobs-postings {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.amazon-frame-child {
  height: 132px;
  width: 1170px;
  position: relative;
  border-radius: var(--br-xl);
  border: 2px solid var(--primary-color-25);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.group-frames-icon {
  height: 82px;
  width: 82px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}
.user-experience-researcher1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.amazon-san-francisco1 {
  position: relative;
  font-size: var(--body-small-size);
  color: var(--color-gray-100);
}
.userexperienceresearcherframe1,
.userexperienceresearcherframe2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 181px;
}
.userexperienceresearcherframe1 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xl);
  min-width: 250px;
  max-width: 100%;
}
.full-time5 {
  position: relative;
  font-size: var(--body-small-size);
  font-weight: 600;
  font-family: var(--body-small);
  color: var(--background-color);
  text-align: center;
}
.starting-june-frame {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-sm) var(--padding-4xs)
    var(--padding-lg);
  background-color: var(--primary-color-1);
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 2;
}
.full-time-frame1:hover,
.starting-june-frame:hover {
  background-color: var(--color-forestgreen);
}
.userexperienceresearcherframe {
  width: 608px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-98xl);
  max-width: 100%;
}
.starting-june-20246 {
  position: relative;
  font-size: var(--body-size);
  font-weight: 600;
  text-align: center;
  z-index: 2;
}
.amazon-frame,
.amazon-frame-item {
  border-radius: var(--br-xl);
  border: 2px solid var(--primary-color-25);
  box-sizing: border-box;
  max-width: 100%;
}
.amazon-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-6xl) var(--padding-13xl) var(--padding-6xl)
    var(--padding-9xl);
  gap: var(--gap-xl);
  z-index: 1;
}
.amazon-frame-item {
  height: 132px;
  width: 1170px;
  position: relative;
  display: none;
}
.frame-child20 {
  height: 82px;
  width: 82px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}
.product-designer3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.google-san-francisco3 {
  position: relative;
  font-size: var(--body-small-size);
  color: var(--color-gray-100);
}
.ellipse-parent10,
.product-designer-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.ellipse-parent10 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xl);
}
.full-time6 {
  position: relative;
  font-size: var(--body-small-size);
  font-weight: 600;
  font-family: var(--body-small);
  color: var(--background-color);
  text-align: center;
}
.full-time-frame1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-sm) var(--padding-4xs)
    var(--padding-lg);
  background-color: var(--primary-color-1);
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 2;
}
.full-time-frame-wrapper {
  width: 244px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.starting-june-20247 {
  position: relative;
  font-size: var(--body-size);
  font-weight: 600;
  text-align: center;
  z-index: 2;
}
.amazon-frame1,
.frame-child21 {
  border-radius: var(--br-xl);
  max-width: 100%;
}
.amazon-frame1 {
  align-self: stretch;
  border: 2px solid var(--primary-color-25);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-6xl) var(--padding-13xl) var(--padding-6xl)
    var(--padding-9xl);
  gap: var(--gap-xl);
  z-index: 1;
}
.frame-child21 {
  height: 132px;
  width: 1170px;
  position: relative;
  background-color: var(--background-color);
  box-shadow: 0 9px 28px 2px rgba(0, 0, 0, 0.25);
  display: none;
}
.frame-child22 {
  height: 82px;
  width: 82px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.user-interface-designer1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.facebook-new-york1 {
  position: relative;
  font-size: var(--body-small-size);
  color: var(--color-gray-100);
  z-index: 1;
}
.ellipse-parent11,
.user-interface-designer-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 153px;
}
.ellipse-parent11 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xl);
  min-width: 222px;
  max-width: 100%;
}
.part-time1 {
  position: relative;
  font-size: var(--body-small-size);
  font-weight: 600;
  font-family: var(--body-small);
  color: var(--color-black);
  text-align: center;
}
.frame-parent10,
.part-time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.part-time-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-sm) var(--padding-4xs)
    var(--padding-lg);
  background-color: var(--border-active);
  border-radius: var(--br-8xs);
  overflow: hidden;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.part-time-container:hover {
  background-color: var(--color-goldenrod);
}
.frame-parent10 {
  width: 610px;
  justify-content: flex-start;
  gap: var(--gap-141xl);
  max-width: 100%;
}
.starting-june-20248 {
  position: relative;
  font-size: var(--body-size);
  font-weight: 600;
  text-align: center;
  z-index: 1;
}
.frame-child23,
.rectangle-parent4 {
  border-radius: var(--br-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent4 {
  align-self: stretch;
  background-color: var(--background-color);
  box-shadow: 0 9px 28px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-6xl) var(--padding-11xl);
  gap: var(--gap-xl);
}
.frame-child23 {
  height: 132px;
  width: 1170px;
  position: relative;
  border: 2px solid var(--primary-color-25);
  display: none;
}
.frame-child24 {
  height: 82px;
  width: 82px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}
.product-designer4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.linkedin-san-francisco1 {
  position: relative;
  font-size: var(--body-small-size);
  color: var(--color-gray-100);
}
.ellipse-parent12,
.product-designer-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.ellipse-parent12 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xl);
}
.full-time7 {
  position: relative;
  font-size: var(--body-small-size);
  font-weight: 600;
  font-family: var(--body-small);
  color: var(--background-color);
  text-align: center;
}
.full-time-wrapper1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-sm) var(--padding-4xs)
    var(--padding-lg);
  background-color: var(--primary-color-1);
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 2;
}
.full-time-wrapper1:hover,
.full-time-wrapper2:hover,
.full-time-wrapper3:hover {
  background-color: var(--color-forestgreen);
}
.frame-wrapper1 {
  width: 244px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.starting-june-20249 {
  position: relative;
  font-size: var(--body-size);
  font-weight: 600;
  text-align: center;
  z-index: 2;
}
.frame-child25,
.rectangle-parent5 {
  border-radius: var(--br-xl);
  border: 2px solid var(--primary-color-25);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-6xl) var(--padding-13xl) var(--padding-6xl)
    var(--padding-9xl);
  gap: var(--gap-xl);
  z-index: 1;
}
.frame-child25 {
  height: 132px;
  width: 1170px;
  position: relative;
  display: none;
}
.frame-child26 {
  height: 82px;
  width: 82px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}
.user-experience-designer1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.google-san-francisco4 {
  position: relative;
  font-size: var(--body-small-size);
  color: var(--color-gray-100);
}
.ellipse-parent13,
.user-experience-designer-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 165px;
}
.ellipse-parent13 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xl);
  min-width: 234px;
  max-width: 100%;
}
.full-time8 {
  position: relative;
  font-size: var(--body-small-size);
  font-weight: 600;
  font-family: var(--body-small);
  color: var(--background-color);
  text-align: center;
}
.frame-parent11,
.full-time-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.full-time-wrapper2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-sm) var(--padding-4xs)
    var(--padding-lg);
  background-color: var(--primary-color-1);
  border-radius: var(--br-8xs);
  overflow: hidden;
  justify-content: center;
  white-space: nowrap;
  z-index: 2;
}
.frame-parent11 {
  width: 608px;
  justify-content: flex-start;
  gap: var(--gap-123xl);
  max-width: 100%;
}
.starting-june-202410 {
  position: relative;
  font-size: var(--body-size);
  font-weight: 600;
  text-align: center;
  z-index: 2;
}
.frame-child27,
.rectangle-parent6 {
  border-radius: var(--br-xl);
  border: 2px solid var(--primary-color-25);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-6xl) var(--padding-13xl) var(--padding-6xl)
    var(--padding-9xl);
  gap: var(--gap-xl);
  z-index: 1;
}
.frame-child27 {
  height: 132px;
  width: 1170px;
  position: relative;
  display: none;
}
.frame-child28 {
  height: 82px;
  width: 82px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}
.product-designer5 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.google-san-francisco5 {
  position: relative;
  font-size: var(--body-small-size);
  color: var(--color-gray-100);
}
.ellipse-parent14,
.product-designer-parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.ellipse-parent14 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xl);
}
.full-time9 {
  position: relative;
  font-size: var(--body-small-size);
  font-weight: 600;
  font-family: var(--body-small);
  color: var(--background-color);
  text-align: center;
}
.full-time-wrapper3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-sm) var(--padding-4xs)
    var(--padding-lg);
  background-color: var(--primary-color-1);
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 2;
}
.frame-wrapper2 {
  width: 244px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.starting-june-202411 {
  position: relative;
  font-size: var(--body-size);
  font-weight: 600;
  text-align: center;
  z-index: 2;
}
.rectangle-parent7 {
  align-self: stretch;
  border-radius: var(--br-xl);
  border: 2px solid var(--primary-color-25);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-6xl) var(--padding-13xl) var(--padding-6xl)
    var(--padding-9xl);
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
}
.amazon-frame-parent,
.related-jobs-postings-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.amazon-frame-parent {
  gap: var(--gap-31xl);
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--body-small);
}
.related-jobs-postings-parent {
  gap: var(--gap-24xl);
}
.sign-up5 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--body-small);
  color: var(--primary-color-1);
  text-align: center;
}
.btn5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--border-active);
  flex: 1;
  border-radius: var(--br-11xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.btn5:hover,
.rectangle-parent8:hover {
  background-color: var(--color-goldenrod);
}
.btn-instance,
.featured-jobs1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.btn-instance {
  width: 326px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-8xl);
  box-sizing: border-box;
}
.featured-jobs1 {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-81xl);
}
.jobs-page-inner,
.securitydevelopercat-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.securitydevelopercat-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-81xl);
}
.jobs-page-inner {
  width: 1238px;
  flex-direction: row;
  padding: 0 var(--padding-29xl) var(--padding-31xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--header-3-size);
  color: var(--deep-green);
  font-family: var(--header-6);
}
.featured-companies-item {
  width: 1512px;
  height: 735px;
  position: relative;
  background-color: var(--color-gainsboro-300);
  display: none;
  max-width: 100%;
}
.featured-companies3 {
  margin: 0;
  height: 50px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.line {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.amazing-companies-are1,
.apply-now-to1 {
  margin: 0;
}
.amazing-companies-are-container1 {
  height: 44px;
  position: relative;
  font-size: var(--body-size);
  font-family: var(--body-small);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.featured-companies-text,
.footer-alum-connect-frame {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.featured-companies-text {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-11xl);
}
.footer-alum-connect-frame {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-6xs);
  box-sizing: border-box;
}
.privacy-policy-terms-of-servic,
.privacy-policy-terms-of-servic1 {
  height: 120px;
  width: 120px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  object-fit: cover;
}
.privacy-policy-terms-of-servic1 {
  left: 372px;
}
.privacy-policy-terms-of-servic2,
.privacy-policy-terms-of-servic3,
.privacy-policy-terms-of-servic4,
.privacy-policy-terms-of-servic5 {
  height: 120px;
  width: 120px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 744px;
  border-radius: var(--br-mini);
  object-fit: cover;
}
.privacy-policy-terms-of-servic3,
.privacy-policy-terms-of-servic4,
.privacy-policy-terms-of-servic5 {
  top: 201px;
  left: 0;
}
.privacy-policy-terms-of-servic4,
.privacy-policy-terms-of-servic5 {
  left: 372px;
}
.privacy-policy-terms-of-servic5 {
  left: 744px;
}
.copyright-frame {
  width: 884px;
  height: 321px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 81px 252px;
  max-width: 100%;
  z-index: 1;
}
.email-address-input,
.featured-companies2 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.featured-companies2 {
  flex: 1;
  background-color: var(--color-gainsboro-300);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-80xl) var(--padding-xl) var(--padding-79xl);
  gap: var(--gap-74xl);
}
.email-address-input {
  width: 1512px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-31xl);
  text-align: left;
  font-size: var(--header-1-size);
  color: var(--primary-color-1);
  font-family: var(--header-6);
}
.subscribe-inner {
  width: 960px;
  height: 417px;
  position: relative;
  border-radius: var(--br-25xl);
  background-color: var(--secondary-color-25);
  display: none;
  max-width: 100%;
}
.subscribe7 {
  color: var(--color-black);
}
.newsletter2 {
  color: var(--primary-color-1);
}
.company-news2,
.subscribe-newsletter-get2 {
  margin: 0;
}
.subscribe-newsletter-container2 {
  margin: 0;
  width: 481px;
  height: 100px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.subscribe-child1 {
  height: 101px;
  width: 657px;
  position: relative;
  border-radius: var(--br-9xl);
  background-color: var(--background-color);
  display: none;
  max-width: 100%;
}
.email-address2 {
  position: relative;
  z-index: 1;
}
.frame-child29 {
  height: 71px;
  width: 156px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--border-active);
  display: none;
}
.subscribe9 {
  position: relative;
  font-size: var(--header-6-size);
  font-family: var(--header-6);
  color: var(--primary-color-1);
  text-align: center;
  z-index: 1;
}
.rectangle-parent8,
.subscribe8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
}
.rectangle-parent8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xl) var(--padding-5xl) var(--padding-5xl);
  background-color: var(--border-active);
  width: 156px;
  border-radius: var(--br-xl);
  justify-content: center;
}
.subscribe8 {
  width: 657px;
  border-radius: var(--br-9xl);
  background-color: var(--background-color);
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-mini)
    var(--padding-31xl);
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--body-size);
  color: var(--border-inactive);
  font-family: var(--body-small);
}
.subscribe-newsletter-frame,
.subscribe6 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.subscribe6 {
  flex: 1;
  border-radius: var(--br-25xl);
  background-color: var(--secondary-color-25);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-64xl) var(--padding-xl) var(--padding-64xl)
    var(--padding-2xl);
  gap: var(--gap-31xl);
}
.subscribe-newsletter-frame {
  width: 1000px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl) var(--padding-31xl);
  text-align: center;
  font-size: var(--header-1-size);
  color: var(--color-black);
  font-family: var(--header-6);
}
.footer-child {
  width: 1512px;
  height: 207px;
  position: relative;
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.alumconnect-icon5,
.logo-mark-icon5 {
  height: 34.9px;
  width: 34.9px;
  position: relative;
  z-index: 1;
}
.alumconnect-icon5 {
  height: 24.3px;
  width: 140.1px;
}
.alum-connect-frame,
.line-separator1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.alum-connect-frame {
  align-items: center;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-5xl);
}
.line-separator1 {
  width: 1160px;
  align-items: flex-start;
  max-width: 100%;
}
.copyright-frame1 {
  width: 1164px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--border-inactive);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.span4 {
  font-size: var(--body-size);
}
.copyright-2023-alumconnect-container2 {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.privacy-policy2 {
  position: relative;
  z-index: 1;
}
.security-policy2,
.terms-of-service2 {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 70px;
  z-index: 1;
}
.policy-links-frame,
.termsof-service-link {
  width: 354px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  max-width: 100%;
}
.policy-links-frame {
  width: 1164px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer,
.jobs-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footer {
  width: 1512px;
  background-color: var(--color-gray-100);
  padding: var(--padding-31xl) var(--padding-31xl) var(--padding-41xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-small-size);
  color: var(--background-color);
  font-family: var(--body-small);
}
.jobs-page {
  position: relative;
  background-color: var(--background-color);
  width: 100%;
  overflow-x: auto;
  gap: var(--gap-81xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1400px) {
  .discover-jobs-frame {
    width: calc(100% - 40px);
  }
  .featured-jobs1,
  .securitydevelopercat-parent {
    gap: var(--gap-81xl);
  }
  .jobs-page-inner {
    padding-right: var(--padding-5xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .amazon-frame,
  .rectangle-parent4,
  .rectangle-parent6 {
    flex-wrap: wrap;
  }
  .jobs-page-inner {
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .featured-companies2 {
    gap: var(--gap-74xl);
  }
  .policy-links-frame {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .home-companies {
    display: none;
  }
  .nav2 {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .discover-the-best-container {
    font-size: var(--font-size-15xl);
  }
  .discover-jobs-frame {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .btn4 {
    flex-wrap: wrap;
    gap: var(--gap-31xl);
    width: calc(100% - 40px);
  }
  .categories1 {
    font-size: var(--font-size-7xl);
  }
  .security-parent,
  .securitydevelopercat {
    gap: var(--gap-31xl);
  }
  .related-jobs-postings {
    font-size: var(--font-size-7xl);
  }
  .userexperienceresearcherframe {
    flex-wrap: wrap;
    gap: var(--gap-98xl);
  }
  .amazon-frame1 {
    flex-wrap: wrap;
  }
  .frame-parent10 {
    flex-wrap: wrap;
    gap: var(--gap-141xl);
  }
  .rectangle-parent5 {
    flex-wrap: wrap;
  }
  .frame-parent11 {
    flex-wrap: wrap;
    gap: var(--gap-123xl);
  }
  .rectangle-parent7 {
    flex-wrap: wrap;
  }
  .amazon-frame-parent {
    gap: var(--gap-31xl);
  }
  .related-jobs-postings-parent {
    gap: var(--gap-24xl);
  }
  .featured-jobs1,
  .securitydevelopercat-parent {
    gap: var(--gap-81xl);
  }
  .featured-companies3 {
    font-size: var(--font-size-15xl);
  }
  .featured-companies2 {
    padding-top: var(--padding-45xl);
    padding-bottom: var(--padding-45xl);
    box-sizing: border-box;
  }
  .email-address-input {
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .subscribe-newsletter-container2 {
    font-size: var(--font-size-15xl);
  }
  .subscribe8 {
    padding-left: var(--padding-6xl);
    box-sizing: border-box;
  }
  .subscribe6 {
    gap: var(--gap-31xl);
  }
  .subscribe-newsletter-frame {
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .jobs-page {
    gap: var(--gap-81xl);
  }
}
@media screen and (max-width: 450px) {
  .home-companies {
    gap: var(--gap-12xl);
  }
  .discover-the-best-container {
    font-size: var(--font-size-6xl);
  }
  .categories1,
  .related-jobs-postings {
    font-size: var(--font-size-lgi);
  }
  .user-experience-researcher1 {
    font-size: var(--body-size);
  }
  .userexperienceresearcherframe1 {
    flex-wrap: wrap;
  }
  .userexperienceresearcherframe {
    gap: var(--gap-98xl);
  }
  .product-designer3 {
    font-size: var(--body-size);
  }
  .ellipse-parent10 {
    flex-wrap: wrap;
  }
  .user-interface-designer1 {
    font-size: var(--body-size);
  }
  .ellipse-parent11 {
    flex-wrap: wrap;
  }
  .frame-parent10 {
    gap: var(--gap-141xl);
  }
  .product-designer4 {
    font-size: var(--body-size);
  }
  .ellipse-parent12 {
    flex-wrap: wrap;
  }
  .user-experience-designer1 {
    font-size: var(--body-size);
  }
  .ellipse-parent13 {
    flex-wrap: wrap;
  }
  .frame-parent11 {
    gap: var(--gap-123xl);
  }
  .product-designer5 {
    font-size: var(--body-size);
  }
  .ellipse-parent14 {
    flex-wrap: wrap;
  }
  .jobs-page-inner {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .featured-companies3 {
    font-size: var(--font-size-6xl);
  }
  .featured-companies2 {
    gap: var(--gap-74xl);
  }
  .email-address-input {
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .subscribe-newsletter-container2 {
    font-size: var(--font-size-6xl);
  }
  .subscribe8 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .subscribe6 {
    padding-top: var(--padding-35xl);
    padding-bottom: var(--padding-35xl);
    box-sizing: border-box;
  }
  .termsof-service-link {
    flex-wrap: wrap;
  }
  .jobs-page {
    gap: var(--gap-81xl);
  }
}
