.nav-child1,
.sign-up-page-child {
  width: 1510px;
  height: 983px;
  position: relative;
  display: none;
}
.nav-child1 {
  height: 100px;
  width: 1512px;
  background-color: var(--color-gray-200);
  backdrop-filter: blur(20px);
  max-width: 100%;
  z-index: 0;
}
.logo-mark-icon6 {
  height: 35px;
  width: 35px;
  position: relative;
}
.alumconnect-icon6 {
  height: 24.3px;
  width: 140.5px;
  position: relative;
}
.logo-mark-frame1,
.nav3 {
  display: flex;
  flex-direction: row;
}
.logo-mark-frame1 {
  margin: 0 !important;
  position: absolute;
  top: 27px;
  left: calc(50% - 100px);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  cursor: pointer;
  z-index: 1;
}
.nav3 {
  width: 1512px;
  height: 100px;
  background-color: var(--color-gray-200);
  backdrop-filter: blur(20px);
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-8xl) var(--padding-636xl) var(--padding-19xl)
    var(--padding-637xl);
  box-sizing: border-box;
  position: sticky;
  gap: var(--gap-3xs);
  top: 0;
  z-index: 99;
  max-width: 100%;
}
.vector-one {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--secondary-color-25);
  width: 320px;
  height: 320px;
  z-index: 1;
}
.background-complete-icon,
.plant-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.plant-icon {
  top: 218.4px;
  left: 319.4px;
  width: 95.4px;
  height: 164.2px;
  z-index: 4;
}
.padlock-icon,
.vectors-icon {
  position: absolute;
  top: 5.4px;
  left: 313.9px;
  width: 95.7px;
  height: 114.4px;
  z-index: 4;
}
.vectors-icon {
  top: 0.1px;
  left: 0.1px;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.background-frame-icon,
.sing-up,
.vector-icon {
  position: absolute;
  top: 0.2px;
  left: -0.3px;
  width: 100%;
  height: 100%;
  z-index: 6;
}
.sing-up,
.vector-icon {
  top: 0;
  left: -0.1px;
  z-index: 7;
}
.sing-up {
  top: 6.6px;
  left: 24.6px;
  font-size: var(--font-size-4xs-1);
  font-family: var(--font-inter);
  color: var(--color-gainsboro-100);
  text-align: left;
  display: inline-block;
  width: 37.9px;
  height: 11.5px;
  z-index: 8;
}
.vector-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 252px;
  left: 31px;
  width: 88px;
  height: 27px;
}
.vector-icon1,
.vector-icon2 {
  position: absolute;
  top: 0;
  left: -0.1px;
  width: 29.6px;
  height: 5.6px;
  object-fit: contain;
}
.vector-icon1 {
  display: none;
}
.vector-icon2 {
  z-index: 8;
}
.vector-container {
  position: absolute;
  top: 83px;
  left: 20px;
  background-color: var(--color-tomato);
  width: 30px;
  height: 6px;
  z-index: 7;
}
.vectors-two-icon {
  position: absolute;
  top: 0.1px;
  left: -0.5px;
  width: 100%;
  height: 100%;
  z-index: 7;
}
.character,
.vector-icon3,
.vector-row-icon {
  position: absolute;
  top: -0.4px;
  left: -0.2px;
  width: 100%;
  height: 100%;
}
.vector-icon3 {
  display: none;
}
.character,
.vector-row-icon {
  z-index: 9;
}
.character {
  top: 7px;
  left: 9px;
  background-color: var(--color-tomato);
  width: 54px;
  height: 5px;
  z-index: 8;
}
.frame-set,
.vector-icon4 {
  position: absolute;
  top: 96px;
  left: 20px;
  width: 119px;
  height: 20px;
}
.vector-icon4 {
  top: -0.3px;
  left: 0.2px;
  width: 100%;
  height: 100%;
  z-index: 7;
}
.vector-icon5,
.vector-icon6 {
  position: absolute;
  top: 0.3px;
  left: -0.4px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.vector-icon5 {
  display: none;
}
.vector-icon6 {
  z-index: 9;
}
.vector-parent1 {
  position: absolute;
  top: 7px;
  left: 9px;
  background-color: var(--color-tomato);
  width: 54px;
  height: 5px;
  z-index: 8;
}
.frame-set1,
.vector-icon7 {
  position: absolute;
  top: 146px;
  left: 19px;
  width: 119px;
  height: 20px;
}
.vector-icon7 {
  top: 0.2px;
  left: 0.1px;
  width: 100%;
  height: 100%;
  z-index: 7;
}
.vector-icon10,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  top: -0.3px;
  left: 43.7px;
  width: 4.7px;
  height: 5.1px;
  z-index: 8;
}
.vector-icon10,
.vector-icon9 {
  top: -0.2px;
  left: 51px;
  height: 4.7px;
}
.vector-icon10 {
  left: 58.3px;
}
.group-icon {
  position: absolute;
  top: -0.5px;
  left: -0.2px;
  width: 100%;
  height: 100%;
}
.frame-set2,
.vector-parent2 {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 63px;
  height: 5px;
}
.frame-set2 {
  top: 197px;
  left: 19px;
  width: 119px;
  height: 20px;
}
.vector-icon11,
.vector-icon12 {
  position: absolute;
  top: 0;
  left: -0.5px;
  width: 15.2px;
  height: 16.6px;
  z-index: 7;
}
.vector-icon12 {
  z-index: 8;
}
.vector-parent3 {
  position: absolute;
  top: 34px;
  left: 72px;
  width: 15px;
  height: 17px;
}
.vector-icon13,
.vector-icon14 {
  position: absolute;
  top: -0.2px;
  left: 0.1px;
  width: 54.2px;
  height: 6.7px;
  object-fit: contain;
}
.vector-icon13 {
  display: none;
}
.vector-icon14 {
  z-index: 8;
}
.vector-parent4 {
  position: absolute;
  top: 55px;
  left: 51px;
  background-color: var(--color-tomato);
  width: 54px;
  height: 7px;
  z-index: 7;
}
.frame-vector-group {
  position: absolute;
  width: calc(100% - 15px);
  top: 10px;
  right: 7px;
  left: 8px;
  height: 316px;
}
.group-frame,
.input-label {
  position: absolute;
  top: 56px;
  left: 181px;
  width: 166px;
  height: 338px;
}
.input-label {
  top: 173px;
  left: 257px;
  width: 491px;
  height: 423px;
}
.background-simple-icon {
  position: absolute;
  top: 0.4px;
  left: 0.4px;
  width: 100%;
  height: 100%;
}
.speech-bubble-icon {
  position: absolute;
  top: 57.6px;
  left: 12.5px;
  width: 59.2px;
  height: 67.3px;
  z-index: 4;
}
.background-simple-parent {
  position: absolute;
  top: 270px;
  left: 310px;
  width: 356px;
  height: 332px;
}
.vector-icon15,
.vector-icon16,
.vector-icon17,
.vector-icon18 {
  position: absolute;
  top: 36.4px;
  left: 113.7px;
  width: 29.6px;
  height: 5.6px;
  object-fit: contain;
  z-index: 7;
}
.vector-icon16,
.vector-icon17,
.vector-icon18 {
  z-index: 8;
}
.vector-icon17,
.vector-icon18 {
  top: 88px;
  left: 113.4px;
  z-index: 7;
}
.vector-icon18 {
  z-index: 8;
}
.vector-icon19,
.vector-icon20 {
  position: absolute;
  top: 109.5px;
  left: 121.8px;
  width: 4.7px;
  height: 4.7px;
  z-index: 8;
}
.vector-icon20 {
  top: 109.6px;
  left: 129.1px;
  height: 5.1px;
}
.vector-icon21,
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  position: absolute;
  top: 109.6px;
  left: 136.4px;
  width: 4.7px;
  height: 4.7px;
  z-index: 8;
}
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  left: 143.7px;
}
.vector-icon23,
.vector-icon24 {
  top: 109.7px;
  left: 151px;
}
.vector-icon24 {
  left: 158.4px;
}
.character-icon,
.vector-parent5 {
  position: absolute;
  top: -0.5px;
  left: 0.1px;
  width: 100%;
  height: 100%;
}
.vector-parent5 {
  top: 335px;
  left: 352px;
  width: 165px;
  height: 320px;
}
.vectors-frame {
  height: 655px;
  width: 748px;
  position: absolute;
  margin: 0 !important;
  top: -68px;
  right: -680px;
}
.sign-up-card-child {
  width: 490px;
  height: 709px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--background-color);
  display: none;
  max-width: 100%;
}
.full-name,
.sign-up6 {
  position: relative;
  z-index: 1;
}
.sign-up6 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  white-space: nowrap;
}
.full-name {
  height: 25px;
  font-size: var(--header-6-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--body-small);
  color: var(--color-black);
  text-align: left;
}
.full-name-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl);
}
.olajide-olamilekan {
  width: 148px;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--body-small);
  font-size: var(--body-size);
  background-color: transparent;
  height: 22px;
  position: relative;
  color: var(--border-inactive);
  text-align: left;
  display: inline-block;
}
.frame-child30 {
  height: 56px;
  width: 377px;
  position: relative;
  border-radius: var(--br-12xl-5);
  border: 2px solid var(--border-inactive);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.email-input,
.olajide-olamilekan-parent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.olajide-olamilekan-parent {
  border-radius: var(--br-12xl-5);
  border: 2px solid var(--border-inactive);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-mid) var(--padding-17xl);
  z-index: 1;
}
.email-input {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.email {
  height: 25px;
  position: relative;
  font-size: var(--header-6-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--body-small);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.email-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl);
}
.olamilekangmailcom {
  width: 177px;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--body-small);
  font-size: var(--body-size);
  background-color: transparent;
  height: 22px;
  position: relative;
  color: var(--border-inactive);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.frame-child31 {
  height: 56px;
  width: 377px;
  position: relative;
  border-radius: var(--br-12xl-5);
  border: 2px solid var(--border-inactive);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.email-input1,
.olamilekangmailcom-parent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.olamilekangmailcom-parent {
  border-radius: var(--br-12xl-5);
  border: 2px solid var(--border-inactive);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-mid) var(--padding-17xl);
  z-index: 1;
}
.email-input1 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.password {
  height: 25px;
  position: relative;
  font-size: var(--header-6-size);
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--body-small);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.sign-up-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl);
}
.confirm-password {
  width: 95px;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--body-small);
  font-size: var(--body-size);
  background-color: transparent;
  height: 22px;
  position: relative;
  color: var(--border-inactive);
  text-align: left;
  display: inline-block;
}
.vector-arrow-icon {
  height: 26.7px;
  width: 30px;
  position: relative;
}
.confirm-password-parent,
.frame-child32 {
  border-radius: var(--br-12xl-5);
  border: 2px solid var(--border-inactive);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child32 {
  height: 56px;
  width: 377px;
  position: relative;
  display: none;
}
.confirm-password-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-19xl) var(--padding-mini)
    var(--padding-15xl);
  gap: var(--gap-xl);
  z-index: 1;
}
.full-name-input,
.sign-up-card1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  max-width: 100%;
}
.full-name-input {
  gap: var(--gap-6xl);
}
.log-in13 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--header-6);
  color: var(--background-color);
  text-align: center;
}
.sign-up-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-2xl) var(--padding-mini)
    var(--padding-xl);
  background-color: var(--border-active);
  align-self: stretch;
  border-radius: var(--br-12xl-5);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.sign-up-btn:hover {
  background-color: var(--color-goldenrod);
}
.already-have-an {
  color: var(--color-gray-100);
}
.log-in14 {
  color: var(--border-active);
}
.already-have-an-container {
  position: relative;
  font-size: var(--body-size);
  font-family: var(--body-small);
  text-align: left;
  cursor: pointer;
  z-index: 1;
}
.frame-container1,
.input-field-group {
  align-self: stretch;
  flex-direction: column;
}
.frame-container1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-18xl);
}
.input-field-group {
  margin: 0;
  align-items: flex-start;
  gap: var(--gap-41xl);
}
.ellipse-frame,
.input-field-group,
.sign-up-btn-frame,
.sign-up-card {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.sign-up-card {
  flex: 1;
  border-radius: var(--br-31xl);
  background-color: var(--background-color);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-31xl) var(--padding-37xl) var(--padding-35xl)
    var(--padding-38xl);
  box-sizing: border-box;
  gap: var(--gap-67xl);
  z-index: 2;
}
.ellipse-frame,
.sign-up-btn-frame {
  align-items: flex-start;
}
.sign-up-btn-frame {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.ellipse-frame {
  width: 490px;
  flex-direction: column;
  min-width: 490px;
  min-height: 782px;
}
.floor-icon,
.round-ellipse {
  flex: 1;
  position: relative;
  z-index: 1;
}
.floor-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  min-width: 1px;
}
.round-ellipse {
  align-self: stretch;
  border-radius: 50%;
  background-color: var(--secondary-color-25);
}
.character-frame {
  height: 195px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-26xl) 0 0;
  box-sizing: border-box;
  min-width: 150px;
}
.floor-parent,
.vectors {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.floor-parent {
  width: 554px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  min-width: 554px;
}
.vectors {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--header-3-size);
  color: var(--primary-color-1);
  font-family: var(--header-6);
}
.background,
.sign-up-page {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.background {
  width: 1385px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-26xl);
  max-width: 100%;
  flex-shrink: 0;
}
.sign-up-page {
  position: relative;
  background-color: var(--primary-color-25);
  width: 100%;
  overflow-x: auto;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 var(--padding-sm);
  gap: var(--gap-69xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .ellipse-frame,
  .floor-parent {
    flex: 1;
  }
  .vectors {
    flex-wrap: wrap;
    justify-content: center;
  }
  .background {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .sign-up6 {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 750px) {
  .sign-up-card {
    gap: var(--gap-67xl);
    padding: var(--padding-13xl) var(--padding-9xl) 35px;
    box-sizing: border-box;
  }
  .ellipse-frame {
    min-width: 100%;
  }
  .character-frame {
    flex: 1;
  }
  .floor-parent {
    flex-wrap: wrap;
    gap: var(--gap-29xl);
    min-width: 100%;
  }
  .sign-up-page {
    gap: var(--gap-69xl);
  }
}
@media screen and (max-width: 450px) {
  .sign-up6 {
    font-size: var(--font-size-lgi);
  }
  .confirm-password-parent {
    flex-wrap: wrap;
  }
  .frame-container1 {
    gap: var(--gap-18xl);
  }
  .input-field-group {
    gap: var(--gap-41xl);
  }
  .sign-up-page {
    gap: var(--gap-69xl);
  }
}
